<ul class="social-list">
    <li>
      <a href="https://example.com/" class="social-link fb"> <i class="fa brands fa-facebook"></i> </a>
    </li>
    <li>
      <a href="https://example.com/" class="social-link tw"> <i class="fa brands fa-twitter"></i> </a>
    </li>
    <li>
      <a href="https://example.com/" class="social-link lkdn"> <i class="fa brands fa-linkedin"> </i></a>
    </li>
    <li>
      <a href="https://example.com/" class="social-link ingm"> <i class="fa brands fa-instagram"> </i></a>
    </li>
</ul>